* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*general*/
html {
  font-size: 10px;
}
img {
  max-width: 100%;
}
.container {
  margin-left: 12%;
  width: 1200px;
  max-width: 85%;
}
/*header*/
.header-img {
  min-height: 700px;
  width: 100%;
  padding-bottom: 5%;
  background: url(../img/bg_pic.jpg) no-repeat top;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header-text {
  color: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 62%;
}
.header-text h1 {
  margin-bottom: 5%;
  font-size: 3.6rem;
  text-transform: uppercase;
}

.btn {
  background: none;
  border: 2px solid #fff;
  width: 15%;
  border-radius: 10px;
  border-image-outset: 0px;
  font-size: 1.6rem;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
  line-height: 5rem;
  text-align: center;
}
.btn:hover {
  min-height: 45px;
  background: #23b7a4;
  border-color: #23b7a4;
  transition: 0.5s;
  cursor: pointer;
}
.header-buttons {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.view-more-btn {
  margin-right: 1%;
}
.video-tour-btn {
}

    /*nav*/
.logo-wrapper {
  height: auto;
  width: 12%;
  padding-top: 5px;
}
nav {
  background: black;
}
.nav {
  padding-top: 24px;
  padding-bottom: 24px;
  min-height: 80px;
  font-size: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.nav-menu {
  width: 73%;
  margin-left: 39%;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 3.2rem;
}
.nav-menu li {
  list-style: none;
  color: #fff;
  width: 20%;
  min-height: 30px;
  margin-left: 1.8%;
  text-align: center;
}
.nav-menu li:hover {
  background: #fff;
  border-radius: 4px;

}
.nav-menu li a {
  text-decoration: none;
  color: #fff;
}
.nav-menu li:hover a {
  color: #a4aead;
  cursor: pointer;
}
.home {
  background: #fff;
  border-radius: 4px;
}
.nav-menu .home a {
  color: #23b7a4;
  font-weight: bold;
}


/*article-block*/
.section-1 {
}
.block-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.article {
  width: 55%;
}
.features {
  margin-top: 105px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article h2 {
  font-size: 3.6rem;
  text-transform: uppercase;
  margin-left: 5%;
  margin-bottom: 65px;
}
.block-article-features {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.block-article-features-numbers {
  height: 50px;
  width: 11%;
  background: #23b7a4;
  color: #fff;
  font-size: 2rem;
  line-height: 5rem;
  text-align: center;
  margin-left: 4%;
  margin-right: 1%;
}
.block-article-features-text {
  width: 82%;
}
.block-article-features-text h3 {
  text-transform: uppercase;
}
.block-article-features-text p {
  display: block;
  width: 100%;
}
.social-btn-wrapper {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.social-btn-single {
  position: relative;
  min-height: 10%;
  width: 10%;
  margin-left: 0.5%;
  background: rgb(200, 205, 208);
}
.social-btn {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 25%;
}

/*lovely work block*/

.section-2 {
  background: rgb(58, 69, 77);
}
.block-photo-lovely-work {
  width: 100%;
  margin-top: 95px;
  padding-top: 85px;
  padding-bottom: 65px;
}
.block-photo-lovely-work h2 {
  margin-left: 5%;
  margin-bottom: 60px;
  font-size: 3.6rem;
  color: #fff;
  text-transform: uppercase;
}
.img-wrapper {
  position: relative;
  width: 30%;
  margin: 35px 30px 0 0;
}
.lovely-work-img-info {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  background: #292f36;
  color: #fff;
  font-size: 1.6rem;
  padding-left: 2rem;
  line-height: 6rem;
  text-transform: uppercase;
}
.photo-wrapper-lovely-work {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  margin: 0 2%;
}
.photo-wrapper-lovely-work img {
  width: 100%;
}
.img-wrapper {
  transition: 0.5s;
}
.img-wrapper:hover img {
  opacity: 0.5;
  transition: 0.5s;
}
.plus {
  color: #fff;
  font-size: 4rem;
  position: absolute;
  visibility: hidden;
  top: 40%;
  left: 48%;
}
.show-more-btn {
  margin-top: 65px;
  margin-left: 45%;
}
/*what we do block*/
.block-what-we-do {
  padding-bottom: 60px;
  padding-top: 100px;
}
.what-we-do-features-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
}
.what-we-do-blocks {
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 90px;
  margin-left: 1%;
  text-align: center;
  line-height: 3.6rem;
}
.what-we-do-blocks img {
  width: 18%;
  margin-left: 40%;
  margin-bottom: 35px;
}
.what-we-do-blocks h3 {
  font-size: 1.8rem;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.block-what-we-do h2 {
  font-size: 3.6rem;
  margin-left: 5%;
  text-transform: uppercase;
}
.what-we-do-blocks p {
  opacity: 0.5;
}


/*features block*/
.section-4 {
  background: rgb(58, 69, 77);
}
.block-features {
  min-height: 600px;
  margin-top: 85px;
  padding-top: 90px;
  padding-bottom: 120px;
}
.block-features h2 {
  margin-left: 5%;
  font-size: 3.6rem;
  color: #fff;
  text-transform: uppercase;
}
.features-photo {
  margin-left: 2%;
}
.features-photo p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 3rem;
}
.features-photo h3 {
  margin-top: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.features-photo-wrapper {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}

/*footer*/
footer {
  background: rgb(58, 69, 77);
}
.footer-wrapper {
  padding-top: 45px;
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.copyright {
  margin-left: 5%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #fff;
}
.social-footer {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.social-footer a {
  width: 7%;
  height: 25%;
}
.img-social-footer {
  width: 100%;
  height: 100%;
}
.img-social-footer:hover {
  cursor: pointer;
}

/*fonts*/
.article, .block-article-features-text, .header-text, .what-we-do-blocks, .copyright {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.block-features h2, .article h2, .block-photo-lovely-work h2, .header-text, .block-what-we-do h2 {
  font-family: 'Quattrocento Sans', sans-serif;
}

@media all and (max-width: 1300px) {
  /*.header-img {
    min-height: 200px;
  }*/

}
